
h1 {
    color: #18518e;
    text-align: center;
    font-family: fantasy;
    font-size: 5rem;
}
nav {
    background-color: #18518e;
}

#dropdownMenuButton {
    color: white;
    background-color: #18518e;
    border-color: #18518e;
}
p {
    color: black;
    text-align: center;
    font-family: "Arial Black";
    font-size: 1.5rem;
    font-style: italic;
}
